
.multiselect {
	width: 360px;
	height: 101px;
	margin-bottom: 5px;
}

.ui-multiselect {
	position: relative;
	left: 376px;
	margin: 0px;
	padding: 0px;
	border: 1px solid #7F99B1;
}

.ui-multiselect .selected {
	margin: -10px;
	top: 0px;
	border: 2px solid red;
}

.ui-multiselect .ui-widget-header {
	border-top: 1px solid #7F99B1;
	border-bottom: 1px solid #7F99B1;
	background: #BEDDFB;
	color: black;
}

.ui-multiselect .ui-widget-header a {
	color: grey;
}
