Source: pf-xivo-confgen
Section: admin
Priority: extra
Maintainer: Proformatique Maintainance Team <technique@proformatique.com>
Uploaders: Guillaume Bour <gbour@proformatique.com>
Build-Depends: debhelper (>= 5.0.37.2), python-dev (>= 2.3.5-11), python-support (>= 0.3.2)
Standards-Version: 3.7.2.2

Package: pf-xivo-confgen
Architecture: all
Depends: python (>= 2.5), python-twisted
Suggests: pf-xivo-confgen, pf-xivo-web-interface
Description: XIVO telephony systems configurations generator
 XIVO is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 Confgen generate asterisk/freeswitch or any other telephony system configuration from a XiVO configuration
 Confgen is build on a flexible architecture of frontends (targeted systems) and backends (data source).
 .
 confgen is the client part of the generator.
 .
 Homepage: http://wiki.xivo.fr/

Package: pf-xivo-confgend
Architecture: all
Depends: python (>= 2.5) , python-twisted
Suggests: pf-xivo-confgen, pf-xivo-web-interface
Description: XIVO telephony systems configurations generator
 XIVO is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 Confgen generate asterisk/freeswitch or any other telephony system configuration from a XiVO configuration.
 Confgen is build on a flexible architecture of frontends (targeted systems) and backends (data source).
 .
 confgend is the server part of the generator
 .
 Homepage: http://wiki.xivo.fr/

