<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.proformatique.android.xivoclient"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

  <supports-screens
          android:largeScreens="true"
          android:normalScreens="true"
          android:smallScreens="true"
          android:anyDensity="true" />
    <application android:icon="@drawable/icon" 
                 android:label="@string/app_name"
                 android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
                 
        <activity android:name=".LoginActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".AboutActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".XletsContainerTabActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".xlets.XletDialer"
                  android:label="@string/xlet_dialer_label"
                  android:description="@string/xlet_dialer_desc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="xivo.intent.action.LOAD_XLET_TAB" />
            </intent-filter>
        </activity>

        <activity android:name=".xlets.XletContactSearch"
                  android:label="@string/xlet_search_label"
                  android:description="@string/xlet_search_desc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="xivo.intent.action.LOAD_XLET_TAB" />
            </intent-filter>
        </activity>

        <activity android:name=".xlets.XletServices"
                  android:label="@string/xlet_services_label"
                  android:description="@string/xlet_services_desc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="xivo.intent.action.LOAD_XLET_TAB" />
            </intent-filter>
        </activity>

        <activity android:name=".xlets.XletHisto"
                  android:label="@string/xlet_histo_label"
                  android:description="@string/xlet_histo_desc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="xivo.intent.action.LOAD_XLET_TAB" />
            </intent-filter>
        </activity>

    </application>
    <uses-sdk android:minSdkVersion="6" />

</manifest> 